img{vertical-align: top;}
body {
    padding: 20px 0 0;
    background-color: #000;
}

body h1 {
    margin: 0 0 30px;
    color: #fff;
    font-size: 30px;
    line-height: 34px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
body h2 {
    margin: 0 0 20px;
    color: #fff;
    font-size: 30px;
    line-height: 34px;
    font-family: Arial, Helvetica, sans-serif;
}
body h3 {
    margin:0;
    color: #fff;
    font-size: 26px;
    line-height: 34px;
    font-family: Arial, Helvetica, sans-serif;
}

body img {
    width: 300px;
}

.list-person {
    margin: 0 auto;
    padding: 0;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
}

.list-person li {
    margin: 0 0 20px;
    display: flex;
    align-items: flex-start;
    border: 1px solid #fff;
    border-radius: 15px;
    background-image: url(bg-01.jpg);
    background-color: #000;
    background-size: cover;
    background-position: top center;
    overflow: hidden;
}

.text-holder {
    margin: 0 0 0 20px;
    padding: 20px 0 0;
}

@media (max-width: 600px) {
    .list-person li {
        display: block;
    }
    .list-person li img{
        width: 100%;
    }
}