body {
    padding: 20px 0 0;
    background-color: #000;
}

body h1 {
    margin: 0;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
body h2 {
    margin: 0 0 20px;
    color: #fff;
    font-size: 30px;
    line-height: 34px;
    font-family: Arial, Helvetica, sans-serif;
}
body h3 {
    margin: 0;
    color: #fff;
    font-size: 26px;
    line-height: 34px;
    font-family: Arial, Helvetica, sans-serif;
}

body img {
    width: 300px;
}
.logo{margin: 0 0 20px;}
.logo img{
    width: 150px;
    height: auto;
}

.list-person {
    margin: 0 auto;
    padding: 0;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
}

.list-person li {
    margin: 0 0 20px;
    display: flex;
    align-items: flex-start;
    border: 1px solid #fff;
    border-radius: 15px;
    background-image: url(bg-04.webp);
    background-color: #fff;
    background-size: cover;
    background-position: top center;
}

.text-holder {
    margin: 0 0 0 20px;
    padding: 20px 0 0;
}

@media (max-width: 600px) {
    .list-person li {
        display: block;
    }
}